:root{
    --gold: #B29758;
    --black: #212529;
    --white: #F8F9FA;
    /* bg colors */
    --bg1: #34CCC6;
    --bg2: #38BCBD;
    --bg3: #3DADB4;
    --bg4: #419DAA;

    --bg5: #652060;
    --bg6: #602F6A;
    --bg7: #5C3F73;
}
