:root{
  --pink: rgba(196, 49, 171, 0.8);
  --light-pink: rgba(255, 137,235, 0.8);
  --green: #82b146;
  --dark-green: rgba(1, 194, 120, 0.8);
  --light-green: rgba(119, 138, 36, 1);
  --red: rgba(196, 34, 5, 0.6);
  --yellow: rgba(229, 211, 11, 0.8);
  --light-yellow: #F7C41C;
  --purple: rgba(117, 19, 163, 0.6);
  --light-purple: #777BB3;
  --blue: rgba(19, 41, 163, 0.8);
  --light-blue: #3276AE;
  --pale-blue: #3765AF;
  --orange:#F45A3B;
  --light-orange: #FF715A;
  --violet: #7952B3;
  --brown: #46250A;
}

@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');
*{
box-sizing: border-box;
}
html{
    height: 100%;
}

body {
  font-family: 'Sunflower', sans-serif;
  padding: 0;
  margin: 0;
  background: linear-gradient(45deg, #0947db, #779DCA);
  /* background-size: cover; */
  background-repeat: no-repeat;
}

.section{
  margin-top: 100px;
  height: 360px;
  overflow: hidden;
}

.description{
  background-color: var(--brown);
  padding: 20px;
  text-align: center;
  align-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 25px;
}

.description p {
  margin: 0;
}

.col:nth-child(1) {
  top: 200px;
  animation-delay: 1s;
  
}

.col:nth-child(3){
  top: 200px;
  animation-delay: 2s;
}

.col:nth-child(4){
  top: 200px;
  animation-delay: -2s;
}

.col:nth-child(6){
  top: 200px;
  animation-delay: -1s;
}

.col:nth-child(8){
  top: 200px;
  animation-delay: 2s;
}

.flower  {
  position: relative;
  animation: grow-flowers 5s infinite linear;
}
.flower div{
  height: 100px;
  width: 100px;
}
.flower .flower-orange{
  background: var(--orange);
  background-image: url(img/icons/html.png);
  background-size: cover;
  border: 2px solid var(--light-orange);
  border-radius: 30% 70% 60% 40% / 30% 38% 62% 70% ;
  box-shadow: 0 0 0 10px var(--light-orange), 0 0 0 10px var(--orange) inset;
}
.flower .flower-red{
  background: var(--pale-blue);
  background-image: url(img/icons/mysql.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: 15px solid var(--blue);
  border-radius: 46% 54% 46% 54% / 58% 58% 42% 42% ;
  box-shadow: 0 0 0 15px var(--light-blue);
}
.flower .flower-yellow{
  background: var(--yellow);
  background-image: url(img/icons/javascript.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 15px var(--light-yellow);
  border-radius: 16% 84% 54% 46% / 61% 35% 65% 39% ;
}

.flower .flower-bootstrap{
  background-image: url(img/icons/bootstrap.png);
  background-size: contain;
  background-color: var(--purple);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 32% 68% 36% 64% / 65% 13% 87% 35% ;
  border: 10px solid var(--purple);
  box-shadow: 0 0 0 15px var(--light-purple);
}

.flower .flower-php{
  background-color: #777BB3;
  background-image: url(img/icons/php.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid var(--purple);
  border-radius: 32% 68% 36% 64% / 65% 13% 87% 35% ;
  box-shadow: 0 0 0 12px var(--violet);
}

.flower .flower-blue{
  background-color: var(--blue);
  background-image: url(img/icons/css.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid var(--blue);
  box-shadow: 0 0 0 15px var(--light-blue), 0 0 0 15px var(--blue);
  border-radius: 74% 26% 36% 64% / 32% 22% 78% 68% ;
}

.flower .flower-green{
  background-color: var(--dark-green);
  border: 2px solid var(--dark-green);
  background-image: url(img/icons/csharp.png);
  background-size: cover;
  border-radius: 30% 70% 60% 40% / 30% 38% 62% 70% ;
  box-shadow: 0 0 0 10px var(--light-green), 0 0 0 0px var(--green) inset;
}

.flower .flower-py{
  background: var(--light-yellow);
  background-image: url(img/icons/py.png);
  background-size: cover;
  border: 2px solid var(--blue);
  box-shadow: 0 0 0 15px var(--light-blue);
  border-radius: 39% 61% 27% 73% / 56% 30% 70% 44%  ;
}
.flower-vs{
  /* background: var(--orange); */
  /* background-image: url(img/icons/visual-studio-code.png); */
  background-size: cover;
  border: 2px solid var(--light-orange);
  border-radius: 30% 70% 60% 40% / 30% 38% 62% 70% ;
  box-shadow: 0 0 0 10px var(--light-orange), 0 0 0 10px var(--orange) inset;

}
.flower-vsc{
  background: var(--orange);
  background-image: url(img/icons/visual-studio.png);
  background-size: cover;
  border: 2px solid var(--light-orange);
  border-radius: 32% 68% 36% 64% / 65% 13% 87% 35%;
  box-shadow: 0 0 0 10px var(--light-orange), 0 0 0 10px var(--orange) inset;
}
.flower span {
  background: var(--light-green);
  width: 10px;
  height: 250px;
  display: block;
  position: relative;
  left: 50%;
  top:100px;  
  z-index: -1;
}

.flower span:before{
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  background: var(--green);
  border-radius: 0 25px 25px;
  position: absolute;
  left: -47px;
  top: 70px;
  box-shadow: 0 0 0 10px var(--light-green) inset;
  transform: rotateY(140deg);
  animation: flip-left 5s infinite linear;
transform-origin: right;

}
.flower span:after{
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  background:var(--green);
  border-radius: 0 25px 0 25px;
  box-shadow: 0 0 0 10px var(--light-green) inset;
  position: absolute;
  top: 10px;
  left: 5px;
  transform: rotateY(-140deg);
  animation: flip-left 5s infinite linear;
transform-origin: left;
}

@keyframes flip-left {
  0%{
    transform: rotateY(0deg);
  }
  50%{
    transform: rotateY(180deg);
  }
  100%{
    transform: rotateY(0deg);
  }
}

@keyframes grow-flowers {
  0%{
    top:200px;
  }
  50%{
    top:50px;
  }
  100%{
    top:200px;
  }
}
















.bee {
  transform: scale(1);
  position: relative;
  animation: grow-flowers 5s infinite linear;

  /* width: auto;
  height: auto; */

}
.furs {
  display: flex;
}
.f {
  height: 75px;
  width: 75px;
  border-radius: 75px 75px 0;
  background: rgb(213, 239, 255);
  display: inline-block;
}
.f2 {
  border-radius: 80px 80px 80px 0;
}
.body {
   width: 150px; 
   height: 75px; 
  background: #eff33c;
  border-radius: 50px;
  display: flex;
  overflow: hidden;
}
.t1,
.t2,
.t3 {
  width: 25px;
  height: 100%;
  background: #191919;
  margin: 0 5px;
}
.t1 {
  margin-left: 0;
}
.eye {
  width: 35px;
  height: 20px;
  border-radius: 50%;
  background: #191919;
  position: relative;
  border: 3px solid #fff;
  top: 20px;
  left: -10px;
}
